/*
Generate main.css by running the following command from src/kernelboard/:

  npx tailwindcss -i ./kernelboard/static/css/input.css -o \
    ./kernelboard/static/css/main.css --verbose

Appending --watch will watch for changes and update main.css automatically.
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply overflow-y-scroll;
  }
  body {
    @apply flex flex-col min-h-screen;
  }
  h1 {
    @apply text-3xl mt-4 font-bold text-dark;
  }
  h2 {
    @apply text-2xl mt-4 font-bold text-dark;
  }
  h3 {
    @apply text-xl mt-4 font-bold text-dark;
  }
}

@layer components {
  .colored-square {
    @apply w-4 h-4 rounded inline-block mr-2;
  }
  @keyframes shine {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }
  .medal {
    @apply inline-block ml-[5px];
    animation: shine 2s infinite;
  }
  .medal .gold {
    text-shadow: 0 0 5px rgba(255, 215, 0, 0.5);
  }
  .medal .silver {
    text-shadow: 0 0 5px rgba(192, 192, 192, 0.5);
  }
  .medal .bronze {
    text-shadow: 0 0 5px rgba(205, 127, 50, 0.5);
  }
  .content-stack {
    @apply space-y-6;
  }
  .page-container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 w-full;
  }
  .header-base {
    @apply bg-white border-b;
  }
  .header-container {
    @apply page-container;
  }
  .header-layout {
    @apply flex items-center justify-between h-16;
  }
  .header-row {
    @apply flex items-center;
  }
  .header-brand-item {
    @apply font-bold text-xl text-gray-900 flex items-center;
  }
  .header-brand-icon {
    @apply text-lg mr-1;
  }
  .header-item {
    @apply ml-10 flex items-baseline space-x-4;
  }
  .header-link {
    @apply px-3 py-2 rounded-md text-sm font-medium text-gray-900 hover:bg-gray-100;
  }
  .header-login-button {
    @apply px-4 py-2 rounded-full bg-discord text-sm font-medium text-white hover:bg-discord/80;
  }
  .main-container {
    @apply page-container flex-grow py-8;
  }
  .footer-base {
    @apply bg-white border-t;
  }
  .footer-container {
    @apply page-container text-center py-4 text-gray-600 space-y-6 space-x-6;
  }
  .footer-link {
    @apply text-gray-600 hover:text-gray-900;
  }
  .footer-text {
    @apply text-gray-600;
  }
  .error-layout {
    @apply grid grid-cols-2 gap-8 items-center;
  }
  .error-message {
    @apply text-left;
  }
  .error-image {
    @apply flex justify-center;
  }
  .error-headline {
    @apply text-4xl font-bold mb-4;
  }
  .error-description {
    @apply text-gray-600 mb-8 font-mono
  }
  .leaderboard-grid {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6;
  }
  .leaderboard-tile-link {
    @apply block hover:no-underline h-full;
  }
  .leaderboard-tile {
    @apply p-4 bg-white rounded-lg h-full border border-neutral hover:border-secondary transition-colors;
  }
  .leaderboard-tile-name {
    @apply font-mono text-lg mb-2 text-dark;
  }
  .leaderboard-content {
    @apply text-dark/70;
  }
  .score-box {
    @apply bg-white/10 rounded-lg p-3 space-y-1 border border-neutral/50;
  }
  .score-row {
    @apply flex justify-between;
  }
  .score {
    @apply font-mono;
  }
  .chip {
    @apply inline-block rounded-full;
  }
  .leaderboard-grid {
    @apply grid grid-cols-1 md:grid-cols-3 gap-6 mb-8;
  }
  .leaderboard-card {
    @apply p-4 bg-gray-50 rounded-lg shadow-sm border border-gray-200;
  }
  .leaderboard-card h2 {
    @apply font-bold mt-0 mb-2;
  }
  .leaderboard-grid .leaderboard-card p {
    @apply text-gray-800;
  }
  .code-block-btn {
    @apply bg-gray-200 hover:bg-gray-300 text-gray-700 px-3 py-1 rounded text-sm;
  }
  .code-block-fade {
    @apply absolute bottom-0 left-0 w-full pointer-events-none z-10;
    height: 75%;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 120%);
  }
  .ranking-table {
    @apply min-w-full divide-y divide-gray-200;
  }
  .ranking-table-row {
    @apply bg-white divide-y divide-gray-200 px-6 py-4 whitespace-nowrap;
  }
  .ranking-container .ranking-table {
    @apply w-full table-fixed;
  }
  .ranking-container .ranking-table th:nth-child(1),
  .ranking-container .ranking-table td:nth-child(1) {
    @apply w-1/3;
  }
  .ranking-container .ranking-table th:nth-child(2),
  .ranking-container .ranking-table td:nth-child(2) {
    @apply w-1/3;
  }
  .ranking-container .ranking-table th:nth-child(3),
  .ranking-container .ranking-table td:nth-child(3) {
    @apply w-1/3;
  }
  .ranking-container .ranking-table td {
    @apply whitespace-nowrap overflow-hidden text-ellipsis;
  }
  .ranking-container .ranking-table .hidden-row {
    @apply hidden;
  }
  .ranking-section {
    @apply mb-8;
  }
  .rankings-btn {
    @apply bg-gray-100 hover:bg-gray-200 text-gray-600 px-3 py-1 rounded text-sm;
  }
}