{% extends "base.html" %}

{% block title %}Leaderboards &ndash; GPU MODE{% endblock %}

{# Define our color palette. This is very much a hack at present. We have a
   number of colors defined here. Below, we hash each leaderboard name, and
   then use the hash to lookup a color in this table. The leaderboard page
   seems very drab otherwise. #}
{% set colors = [
    '#FF6B6B',
    '#4ECDC4',
    '#45B7D1',
    '#96CEB4',
    '#FFEEAD',
    '#D4A5A5',
    '#9B5DE5',
    '#F15BB5',
    '#00BBF9',
    '#00F5D4'
] %}

{% block content %}
<div class="content-stack">
    <h1>Active Leaderboards</h1>
    
    <div class="leaderboard-grid">
        {% for leaderboard in leaderboards %}
            <div class="leaderboard-tile">
                <div class="leaderboard-tile-name">
                    {% set color = leaderboard['name']|to_color %}
                    <div class="colored-square" style="background-color: {{ color }}"></div>
                    {{ leaderboard['name'] }}
                </div>
                
                <div class="leaderboard-content">
                    {{ leaderboard['deadline']|to_time_left }} remaining
                </div>

                {% set gpu_type, top_users = leaderboard.top_users_by_gpu | select_gpu_type %}
                {% if top_users %}
                    <div class="leaderboard-content mt-4">
                        <div class="leaderboard-score-box">
                            <div class="space-y-1">
                                <div class="text-center mb-2">
                                    <span class="leaderboard-score-box-chip">
                                        {{ gpu_type }}
                                    </span>
                                </div>
                                {% for name, score in top_users|add_medals %}
                                    <div class="flex justify-between">
                                        <span>{{ name or "&nbsp;"|safe }}</span>
                                        <span class="font-mono">{{ score or "&nbsp;"|safe }}</span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    {% if not leaderboards %}
        <p class="text-dark/60 italic">No active leaderboards found.</p>
    {% endif %}
</div>
{% endblock %} 