{% extends "base.html" %}

{% block title %}{{ name }} - Kernel Leaderboards{% endblock %}

{% block content %}
<div class="content-stack">
    <h1 class="font-mono text-3xl font-bold flex items-center gap-3 mb-6">
        {% set color = name|to_color %}
        <div class="colored-square shadow-md" style="background-color: {{ color }}"></div>
        {{ name }}
    </h1>
    
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-8">
        <div class="p-4 bg-gray-50 rounded-lg shadow-sm border border-gray-200">
            <h2 class="text-xl font-semibold mb-2">Deadline</h2>
            <p class="text-gray-800">
                {% if time_left != None %}
                    <span class="font-medium">{{ time_left }}</span> ({{ deadline|format_datetime }})
                {% else %}
                    {{ deadline }}
                {% endif %}
            </p>
        </div>

        <div class="p-4 bg-gray-50 rounded-lg shadow-sm border border-gray-200">
            <h2 class="text-xl font-semibold mb-2">Language</h2>
            <p class="text-gray-800">{{ lang }}</p>
        </div>

        <div class="p-4 bg-gray-50 rounded-lg shadow-sm border border-gray-200">
            <h2 class="text-xl font-semibold mb-2">GPU Type{{ 's' if gpu_types|length > 1 or gpu_types|length == 0}}</h2>
            <p class="text-gray-800">{{ gpu_types|join(', ') if gpu_types|length > 0 else 'None' }}</p>
        </div>
    </div>
    
    <div>
        <h2>Description</h2>
        <p class="whitespace-pre-wrap">{{ description }}</p>
    </div>

    {# If there are rankings, show rankings table/s. #}
    {% set has_rankings = rankings is defined and rankings|map('length')|list|sum > 0 %}

    {% if has_rankings %}
        <h2>Rankings</h2>

        {% for gpu_type, ranking in rankings.items() %}
            {# Only show the table if there are rankings for this GPU type. #}
            {% if ranking|length > 0 %}
                <h3>{{ gpu_type }}</h3>

                <table class="ranking-table">
                    <thead class="ranking-table-header">
                        <tr>
                            <th scope="col" class="ranking-table-header-cell">Rank</th>
                            <th scope="col" class="ranking-table-header-cell">User</th>
                            <th scope="col" class="ranking-table-header-cell">Score</th>
                            <th scope="col" class="ranking-table-header-cell">File Name</th>
                            <th scope="col" class="ranking-table-header-cell">Submission Time</th>
                        </tr>
                    </thead>
                    <tbody class="ranking-table-row">
                        {% for row in ranking %}
                            <tr>
                                <td>{{ row[4]|decorate_rank }}</td>
                                <td>{{ row[1] }}</td>
                                <td>{{ row[3]|format_score }}</td>
                                <td>{{ row[0] }}</td>
                                <td>{{ row[2]|format_datetime }}</td> 
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>

<div>
    <h2>Reference Implementation</h2>
    <pre class="code-block"><code>{{ reference }}</code></pre>
</div>

{% endblock %} 