{% extends "base.html" %}

{% block title %}Lectures &ndash; GPU MODE{% endblock %}

{% block content %}
<div class="space-y-6">
    <h1 class="text-3xl font-bold text-dark">Future Lectures</h1>
    <p class="mb-4">Future lectures are listed below. Each will be held on Zoom unless otherwise noted.</p>
    
    {# TODO: This is where we'll list the lectures -- once I figure out where
       the data is coming from. #}
    <div class="flex flex-col space-y-4">
        {% for lecture in lectures %}
            <div class="p-4 bg-white rounded-lg border border-neutral hover:border-secondary transition-colors">
                <div class="flex items-center gap-2">
                    <div class="w-4 h-4 rounded" style="background-color: {{ colors[lecture.title|hash|int % colors|length] }}"></div>
                    <div class="font-mono text-lg text-dark">{{ lecture.title }}</div>
                </div>
                <div class="mt-2 text-dark/70">{{ lecture.speaker }}</div>
                <div class="text-dark/60 text-sm">{{ lecture.date }}</div>
            </div>
        {% endfor %}
    </div>

    <p class="mt-8">Interested in giving a talk? Reach out to us on <a href="https://discord.gg/gpumode" class="text-gray-600 hover:text-gray-900">Discord</a>!</p>

    <h1 class="text-3xl font-bold text-dark">Past Lectures</h1>
    <p class="mb-4">Past lectures are available on our <a href="https://www.youtube.com/@gpumode" class="text-gray-600 hover:text-gray-900">YouTube channel</a>.</p>

</div>
{% endblock %} 