{% extends "base.html" %}

{% block title %}Lectures &ndash; GPU MODE{% endblock %}

{% block content %}
<div class="content-stack">
    <h1 class="headline">Future Lectures</h1>
    <p class="mb-4">Future lectures are listed below. Each will be held on Zoom unless otherwise noted.</p>
    
    {# TODO: This is where we'll list the lectures -- once I figure out where
       the data is coming from. #}
    <div class="lecture-list">
        {% for lecture in lectures %}
            <div class="lecture-item">
                <div class="flex items-center gap-2">
                    <div class="colored-square" style="background-color: {{ colors[lecture.title|hash|int % colors|length] }}"></div>
                    <div class="lecture-title">{{ lecture.title }}</div>
                </div>
                <div class="lecture-speaker">{{ lecture.speaker }}</div>
                <div class="lecture-date">{{ lecture.date }}</div>
            </div>
        {% endfor %}
    </div>

    <p class="mt-8">Interested in giving a talk? Reach out to us on <a href="https://discord.gg/gpumode" class="text-gray-600 hover:text-gray-900">Discord</a>!</p>

    <h1 class="headline">Past Lectures</h1>
    <p class="mb-4">Past lectures are available on our <a href="https://www.youtube.com/@gpumode" class="text-gray-600 hover:text-gray-900">YouTube channel</a>.</p>

</div>
{% endblock %} 